{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Bundle Bootstrap & CSS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>{% block title %}
        {% endblock %}</title>
<style>
    .ahello{
        display: none;
    }
</style>
</head>

<body>
    <h1 style="color: blue; text-align: center; padding: 20px;">Student View</h1>
    <div class="buttonlogout" style="padding-left: 910px; padding-top: 50px;">
        <a href="/student_logout/"><button type="button" class="btn btn-danger">Log Out</button></a>
     </div>
            <a href="{% url 'StudentUpdate' request.user.id %}"><button type="button" class="btn btn-primary">Edit
                Profile</button></a>
    <hr>

    <h5 style="text-align: center;"> Logged-in User: <span
            style="text-align: center; color: white; background-color: green;">{{student.username}}</span></h5>
    <form class="d-flex" method="get" style="padding-left: 820px; padding-top: 100px;">
        <div class="access_code_div">
            <div class="access-code">
            <input class="form" type="search" placeholder="Enter Access Code Here" name="searched" id="search">
            <div class="pad" style="padding-left: 15px;">
                <button id="button" class="btn btn-success" type="button">Submit</button>
            </div>
            <div class="nextpagelink ahello">
                <div class="nextpagelink" style="padding-left: 910px; padding-top: 50px;">
                    <a href="/student_acces_code_search/"><button type="button" class="btn btn-danger">Log Out</button></a>
                 </div>
            </div>
            </div>
        </div>
    </form>

    <hr>

    <div class="details">





    </div>

    <!-- AJAX Validations -->
    <script>
        $('#button').on('click', function () {
            
            $('.access-code').css("display","none")
            $('.nextpagelink').removeClass("ahello")
            let searched = $('#search').val();
            $.ajax({
                type: "get",
                url: "/student_acces_code_search/",
                data: { searched: searched },
                success: function (data) {
                    // let a = JSON.parse(data['class_student_list_json'])
                    // console.log(data['class_student_list_json']);
                    console.log(data);
                    var st = [];
                    console.log('SUCCESS');
                    // console.log(data);
                    // // let d = a.fields;
                    for (const key in data) {
                        if (typeof (data[key]) === 'string') {
                            st.push(JSON.parse(data[key]))
                        } else {
                            st.push(data[key]);
                        }
                    }
                    // console.log(st[2]);
                    var st_data = st[2];

                    for (const key in st_data) {
                        let d = st_data[key].fields;

                        $('.details').append(`
                     <h1 style="text-align: center; text-align: center;"><b>Details</b></h1><hr><br>
    
                     <h3 style="text-align: center">Teacher's list: <div style="color: red; text-align: center;"> ${st[1]} </div></h3><br><hr>
                     <h3 style="text-align: center">Standard: <div style="color: blue; text-align: center;"> ${d.standard} </div></h3><br><hr>
                     <h3 style="text-align: center">Division: <div style="color: green; text-align: center;"> ${d.division}</div></h3><br><hr>
                        <h3 style="text-align: center">Student's list: <div style="color: purple; text-align: center;"> ${st[0]} </div></h3>
                     `)
                    }
                },
                failure: function () {
                    console.log('FAIL');
                    console.log(data);
                }
            });
        });
    </script>



</body>

</html>