{% extends 'base.html' %}

{% block title %}
Detailed View
{% endblock %}

{% block body %}

<div class="details">
    <h1 class="card-title">Admin Name: <b style="color: blue;">{{school.admin_id.username}}</b></h1><br>

    <h3 class="card-category">Teacher Name: {% for i in school.teacher_id.all %} <b style="color: red;">{{ i }}</b> , {% endfor %}</h3><br>

    <h3 class="card-category">School Name: <b style="color: green;">{{school}}</b></h3><br><hr>

    <h5 class="card-text">class: <br> {% for j in school.class_field.all %}Class Access Code: <b style="color: red;">{{ j }}</b> | Standard: <b style="color: green;">{{j.standard}}</b> <br>Students: {% for k in j.student_name.all %} <b style="color:blue">{{k}}</b>, {% endfor %}
    
    <br>Teacher: {% for k in j.teacher_name.all %} <b style="color:green">{{k}}</b>, {% endfor %} {% if not request.user.is_superuser %} <br><br><a href="{% url 'TeacherAddToExistingClass' j.access_code %}"><button type="button" class="btn btn-info">Join {{j.access_code}}</button></a>
    {% endif %} <br><br> <br><hr> {% endfor %} </h5><br>
    

    {% if request.user.username == school.admin_id.username or request.user.is_superuser %}
    {% for schl in school.class_field.all %} <br>
    <a class="btn btn-primary" href="{% url 'TeacherClassUpdate' schl.pk %}">Update {{schl}}</a>

    {% if request.user.is_superuser %}
    {% for i in schl.teacher_name.all %}    
    {% if not i.is_superuser  %}<a class="btn btn-danger" href="{% url 'AdminRemoveTeacher' i.username %}">Remove {{i}}</a>{% endif %}
    {% endfor %}
    {% endif %}

        {% for stud in schl.student_name.all%}
        <a class="btn btn-secondary" href="{% url 'TeacherUpdateStudent' stud.pk %}">Update {{stud}}</a>
        
        {% endfor %}
        <br>
    {% endfor %}
    {% endif %}
</div>



{% endblock %}